{% extends 'users/userbase.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Image Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 600px;
            margin-top: 50px;
        }
        .image-preview {
            max-width: 100%;
            max-height: 400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Upload an Image for Prediction</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="image">Choose an image:</label>
                <input type="file" class="form-control-file" id="image" name="image" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Predict</button>
        </form>
<!-- 
        {% if uploaded_file_url %}
            <div class="mt-5">
                <h4>Uploaded Image:</h4>
                <img src="" class="image-preview" alt="Uploaded Image">
            </div>
        {% endif %}

        {% if result_image_url %}
            <div class="mt-5">
                <h4>Prediction Result:</h4>
                <p>Predicted Image as been plotted...</p>
                <img src="" class="image-preview" alt="Result Image">
            </div>
        {% endif %} -->

        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


{% endblock %}